
html {
  font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  color:#e9e9e9;
  background-color: #252525;
}

body {
  width: 850px;
  margin: 0 auto;
  background-color: #636363;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}


/* IMAGE FORMATTING */
img {
  display: block;
  margin: 0 auto;
  /* width: 500px; */
}


/* TEXT FORMATTING */
h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #f7f7f7;
  text-shadow: 3px 3px 1px black;
}

p,li{
  /* width: 500px; */
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

a:hover {
  color: #fd8d3c
}

a {
  color: rgb(255, 217, 0)
}